<footer class="py-5 bg-dark">
    <div class="container">
        <a class="m-0 text-center text-white" href="{{ path('app_imprint') }}">Impressum</a><br/>
        <a class="m-0 text-center text-white" href="{{ path('app_data-usage') }}">Datenschutzerklärung</a><br/>
        <a class="m-0 text-center text-white" href="{{ path('app_admin_dashboard') }}">Admin Bereich</a>
    </div>
</footer>