<div class="card my-4">
    <div class="card-body">
        <a data-tweet-limit="3" data-chrome="nofooter" class="twitter-timeline" data-theme="light" href="https://twitter.com/phpughb?ref_src=twsrc%5Etfw"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>