<p>
    Hallo,
</p><br/>
<p>
    du wurdest zu Website <a href="{{ url('app_admin_login') }}">PHP Usergroup Bremen</a> hinzugefügt.<br/>
    Um deinen Account zu aktivieren, setze bitte ein Passwort, indem du auf folgenden Link klickst:
    <a href="{{ url('app_admin_user-create', {'token': token}) }}">Passwort setzen</a>
</p><br/>
<p>
    Viele Grüße<br/>
    Deine PHPUGHB
</p>